[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/SophiaTX/fc.git
[submodule "libraries/SQLiteCpp"]
	path = libraries/SQLiteCpp
	url = https://github.com/SophiaTX/SQLiteCpp.git
