[submodule "libraries/SQLiteCpp"]
	path = libraries/SQLiteCpp
	url = https://github.com/SophiaTX/SQLiteCpp.git
[submodule "libraries/fc/vendor/websocketpp"]
	path = libraries/fc/vendor/websocketpp
	url = https://github.com/SophiaTX/websocketpp.git
