.idea
libraries/manifest/sophiatx_manifest/__pycache__/
ciscripts/deploy/ansible/playbooks/deploy-node.retry
cmake-build-debug
CMakeCache.txt
CMakeFiles
*.user
cmake-build-release/

programs/sophiatxd/sophiatx*
programs/sophiatxd/package/cmake-build-release/
programs/sophiatxd/package/debian/.debhelper/
programs/sophiatxd/package/debian/sophiatx/
programs/sophiatxd/package/debian/sophiatx.debhelper.log
programs/sophiatxd/package/debian/sophiatx.substvars
programs/sophiatxd/package/debian/files

programs/sophiatxd_light/sophiatxd-light*
programs/sophiatxd_light/package/cmake-build-release/
programs/sophiatxd_light/package/debian/.debhelper/
programs/sophiatxd_light/package/debian/sophiatxd-light/
programs/sophiatxd_light/package/debian/sophiatx-light.debhelper.log
programs/sophiatxd_light/package/debian/sophiatx-light.substvars
programs/sophiatxd_light/package/debian/files

programs/cli_wallet/sophiatx-cli-wallet*
programs/cli_wallet/package/cmake-build-release/
programs/cli_wallet/package/debian/.debhelper/
programs/cli_wallet/package/debian/sophiatx-cli-wallet/
programs/cli_wallet/package/debian/sophiatx-cli-wallet.debhelper.log
programs/cli_wallet/package/debian/sophiatx-cli-wallet.substvars
programs/cli_wallet/package/debian/files


