Source: sophiatx-cli-wallet
Maintainer: SophiaTX <info@sophiatx.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: utils

Package: sophiatx-cli-wallet
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SophiaTX Cli Wallet blockchain package
    Cli Wallet tool for simplified interacting with SophiaTX Blockchain