#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

INSTALL_DIR=../../../install
PACKAGE_DIR=$$(pwd)/debian/sophiatx-package

%:
	dh $@ --parallel

override_dh_auto_install:
	install ${INSTALL_DIR}/bin/sophiatxd                                     -D -t  ${PACKAGE_DIR}/usr/bin/
	install ${INSTALL_DIR}/etc/sophiatx/config.ini                           -D -t  ${PACKAGE_DIR}/etc/sophiatx/
	install ${INSTALL_DIR}/etc/sophiatx/configs_examples/fullnode_config.ini -D -t  ${PACKAGE_DIR}/etc/sophiatx/configs-examples/
	install ${INSTALL_DIR}/etc/sophiatx/configs_examples/witness_config.ini  -D -t  ${PACKAGE_DIR}/etc/sophiatx/configs-examples/
	install ${INSTALL_DIR}/etc/logrotate.d/sophiatx                          -D -t  ${PACKAGE_DIR}/etc/logrotate.d/
	install ${INSTALL_DIR}/etc/rsyslog.d/22-sophiatx.conf                    -D -t  ${PACKAGE_DIR}/etc/rsyslog.d/
	install ${INSTALL_DIR}/lib/systemd/system/sophiatx.service               -D -t  ${PACKAGE_DIR}/lib/systemd/system/