Source: sophiatx-light
Maintainer: SophiaTX <info@sophiatx.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: utils

Package: sophiatx-light
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SophiaTX-light blockchain package
    SophiaTX light client that connects to the remote node and stores locally only specified data