Source: sophiatx
Maintainer: SophiaTX <info@sophiatx.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: utils

Package: sophiatx
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SophiaTX blockchain package