[Unit]
Description=SophiaTX Blockchain service
Documentation=https://developers.sophiatx.com/
Requires=syslog.socket

[Service]
Type=simple
ExecStart=/usr/bin/sophiatxd -config /etc/sophiatx-service/config.ini --data-dir /var/lib/sophiatx
ExecReload=/usr/bin/sophiatxd -config /etc/sophiatx-service/config.ini --data-dir /var/lib/sophiatx --replay-blockchain
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target